.answers {
  border: 1px solid black;
  border-radius: 20px;
  padding: 20px;
  margin: 80px 0px;
  background-color: #ffff;
  max-width: 700px;

  .results {
    background-color: aliceblue;
  }

  button {
    margin-top: 20px;
  }

  p {
    text-align: center;
    font-weight: 600;
    margin-bottom: 10px;
  }

  h4 {
    text-align: center;
  }

  .question {
    padding-bottom: 10px;
  }

  .answer {
    padding: 10px 0px;
    border-bottom: 1px solid black;
    h3 {
      text-align: center;
    }
    .correct {
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      margin: 20px 0px;

      /*  background-color: green;
      color: white; */
      &::after {
        content: "✔";
        font-size: 30px;
        color: green;
      }
    }

    .wrong {
      /* background-color: red;
      color: white; */
      display: flex;
      align-items: center;
      gap: 20px;
      justify-content: space-between;
      margin: 20px 0px;

      &::after {
        content: "❌";
        font-size: 20px;
        color: red;
      }
    }
    .correct__blue {
      margin: 10px 0px;
      font-weight: 600;
    }

    .bold {
      font-weight: 600;
    }
  }
}
