.test {
  width: 800px;
  border: 1px solid black;
  border-radius: 20px;
  padding-bottom: 20px;

  display: flex;
  justify-content: center;
  flex-direction: column;

  .questionNumber {
    border-radius: 20px 20px 0 0;
    background-color: rgb(83, 236, 69);
    padding-top: 20px;
    h3 {
      text-align: center;
    }
  }

  .questionContainer {
    padding: 20px 60px;
    legend {
      margin-bottom: 20px;

      font-weight: 600;
    }
    .question {
      margin-bottom: 20px;
      label {
        margin-left: 10px;
        cursor: pointer;
      }

      input[type="radio"] {
        border: 1px solid rgb(0, 0, 0);
        padding: 0.5em;
        margin-left: 10px;
        cursor: pointer;
        -webkit-appearance: none;

        &:checked {
          background-color: green;
        }
      }
    }

    .answers {
      display: flex;
      flex-direction: column;
    }
  }
}
