@import "../../scss/Global.scss";

.header {
  z-index: 3;
  position: absolute;
  top: 0;
  display: flex;
  width: 100%;
  background-color: transparent;
  height: 60px;
  align-items: center;
  justify-content: space-between;
  padding: 0px 20px;

  h3 {
    color: $colorButtons;
  }

  ul {
    display: flex;
    gap: 20px;
    li {
      cursor: pointer;
      list-style: none;
      text-transform: uppercase;
      padding: 5px 10px;
      background-color: $colorButtons;
      color: #ffff;
      border-radius: 20px;
      font-weight: 600;
    }
  }

  a {
    text-decoration: none;
    color: #ffff;
  }
}
